<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
  <h2><%= category.name %></h2>
  <p><%= category.description %></p>

  <ul>
    <% recipesTarget.forEach( (recipe) => { %>
    <li><%- include("../components/recipeLinkComponent" , {recipe} )%></li>
    <% }); %>
  </ul>
</main>

<%- include("../partials/footer") %>