<%- include("../partials/head", { title: "Page d'accueil" }) %>


<main>

<p>
     to do description categorie recette a prendre dans data
</p>
  

   <%- include("../components/recipeLinkComponent" )%>
   <%- include("../components/recipeLinkComponent" )%>
   <%- include( "../components/recipeLinkComponent")%>


    

</main>


<%- include("../partials/footer") %>