<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
<%- include("../components/recipeComponent" )%>


<a href="/category/<%=category.id%>" > Parcourir  les  <%=  category.name %> </a> 

</main>


<%- include("../partials/footer") %>