<%- include("../partials/head", { title: "Page d'accueil" }) %>
<%const categoryName= [ "null" ,"Entrée" , "Plat Principal", "Dessert"] %>
<main>
<%- include("../components/recipeComponent" )%>


<a href="/category/<%=category.id%>" > Parcourir  les  <%=  category.name %> </a> 

</main>


<%- include("../partials/footer") %>